.celphone-mic{
  width: 35px;
  height: 5px;
  background-color: rgb(221, 217, 217);

  border-radius: 20px;
  transform: translate(32px, 5px);
/*   transform: translateX(33px);
  transform: translateY(5px); */
}